<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.rule.common.api.mapper.ActionParamValueInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.rule.common.api.entity.ActionParamValueInfo">
        <id column="action_param_value_id" property="actionParamValueId" />
        <result column="rule_action_rel_id" property="ruleActionRelId" />
        <result column="action_param_id" property="actionParamId" />
        <result column="param_value" property="paramValue" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        action_param_value_id AS actionParamValueId, rule_action_rel_id AS ruleActionRelId, action_param_id AS actionParamId, param_value AS paramValue, is_effect AS isEffect, cre_user_id AS creUserId, cre_time AS creTime, remark
    </sql>

    <sql id="BaseFindParamValueSql">
        t.action_param_value_id,
        t.rule_action_rel_id,
        t.action_param_id,
        t.param_value,
        t.is_effect,
        t.cre_user_id,
        t.cre_time,
        t.remark
    </sql>
    <select id="findBaseRuleActionParamValueInfoList" parameterType="com.ht.rule.common.api.entity.ActionParamValueInfo"
            resultType="com.ht.rule.common.api.entity.ActionParamValueInfo">
        SELECT DISTINCT
        <include refid="BaseFindParamValueSql"></include>
        FROM
        rule_action_param_value_info t
        WHERE
        1 = 1
        <if test="ruleActionRelId != null">
            AND t.rule_action_rel_id = #{ruleActionRelId}
        </if>
        <if test="actionParamId != null">
            AND t.action_param_id = #{actionParamId}
        </if>


    </select>
    <select id="findRuleParamValueByActionParamId"
            resultType="com.ht.rule.common.api.entity.ActionParamValueInfo">
        SELECT DISTINCT
        <include refid="BaseFindParamValueSql"></include>
        FROM
        rule_action_param_value_info t
        WHERE
        1 = 1
        AND t.is_effect = 1
        AND t.action_param_id = #{paramId}
        and t.rule_action_rel_id= #{ruleActionRelId}
    </select>

</mapper>
