<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.rule.common.api.mapper.ConstantInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.rule.common.api.entity.ConstantInfo">
        <result column="con_id" property="conId" />
        <result column="con_key" property="conKey" />
        <result column="con_name" property="conName" />
        <result column="con_type" property="conType" />
        <result column="con_code" property="conCode" />
        <result column="is_effect" property="isEffect" />
        <result column="cre_user_id" property="creUserId" />
        <result column="cre_time" property="creTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        con_id AS conId, con_key AS conKey, con_name AS conName, con_type AS conType, con_code AS conCode, is_effect AS isEffect, cre_user_id AS creUserId, cre_time AS creTime, remark
    </sql>

</mapper>
