<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.rule.common.api.mapper.RuleGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.rule.common.api.entity.RuleGroup">
        <id column="rule_group_id" property="ruleGroupId" />
        <result column="rule_id" property="ruleId" />
        <result column="index" property="index" />
        <result column="updateTime" property="updateTime" />
        <result column="weight" property="weight" />
        <result column="scene_id" property="sceneId" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rule_group_id AS ruleGroupId, rule_id AS ruleId, index, updateTime, weight, scene_id AS sceneId, name
    </sql>

</mapper>
