<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.rule.common.api.mapper.RuleDpUserSelectLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.rule.common.api.entity.RuleDpUserSelectLog">
        <id column="dp_user_select_log_id" property="dpUserSelectLogId" />
        <result column="dp_user_log_id" property="dpUserLogId" />
        <result column="select_user_id" property="selectUserId" />
        <result column="select_user_grade" property="selectUserGrade" />
        <result column="select_user_name" property="selectUserName" />
        <result column="select_status" property="selectStatus" />
        <result column="select_sys_user_id" property="selectSysUserId" />
        <result column="man_counts" property="manCounts" />
        <result column="type" property="type" />
        <result column="role_code" property="roleCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dp_user_select_log_id AS dpUserSelectLogId, dp_user_log_id AS dpUserLogId, select_user_id AS selectUserId, select_user_grade AS selectUserGrade, select_user_name AS selectUserName, select_status AS selectStatus, select_sys_user_id AS selectSysUserId, man_counts AS manCounts, type, role_code AS roleCode
    </sql>

</mapper>
